.form-rounded {
    border-radius: 1rem;
}

#example_length
{
    display:none;
}

.dataTables_length
{
    display:none;
}

#example_filter
{
    display: none;
}
.dataTables_info
{
    display: none;
}
.dataTables_paginate 
{
    display: none;
}
.paging_simple_numbers
{
    display: none;
}